.MainContainerBox{
  display: flex;
  width: 100%;
  height: 100vh;
 
}
.ContainerHeading {
  font-size: 24px;
  display: flex;
  perspective: 300px;
}
.headingName{
  width: 50%;
  padding: 10px;
  margin: 15px;
  border-radius: 30px;
 
  text-align: center;
  height:55%;

}
.Name{
  font-weight: 700;
  font-size:36px;
  color: rgb(23, 4, 60);

}
.desig{
  display: block;
  font-size: 22px;
  font-weight: 500;

}

.mainCover{
  width: 50%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  
  height: 50%;
  
  

}
.img{
  width: 60%;
  /* height: 70%; */
  margin: 20px;
  border-radius: 20px;
  box-shadow:10px 10px 5px gray;
  margin-left:111px;
 
}

.profilePara{
  font-size:18px;
  
  margin-top: 10px;
  padding: 17px;
  text-align: left;
}

.skillContainer{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 10px;
}

.skillimg{
width: 110px;
background: white;
padding: 10px;
} 

